<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10521697209-68n8s7557bohq77vmlnc0slpjl5upqls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10521697209-68n8s7557bohq77vmlnc0slpjl5upqls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10521697209-741nska0s213a8pbgp5ovivtcfd34i16.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXKdujy64teNdG_lo7yCNqXbNG6DFKLlI</string>
	<key>GCM_SENDER_ID</key>
	<string>10521697209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pawdigital.wallet</string>
	<key>PROJECT_ID</key>
	<string>biota-8e34d</string>
	<key>STORAGE_BUCKET</key>
	<string>biota-8e34d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10521697209:ios:1ab38a42f47d0617cab468</string>
</dict>
</plist>