<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895700624438-3v4l5jvs2bfpftpn5a9t8k43cjed5b32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895700624438-3v4l5jvs2bfpftpn5a9t8k43cjed5b32</string>
	<key>API_KEY</key>
	<string>AIzaSyBF5FGl2r_wBg9L7JoD7yBmATAr3gbHccU</string>
	<key>GCM_SENDER_ID</key>
	<string>895700624438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitcoinnano.infinitum</string>
	<key>PROJECT_ID</key>
	<string>infinitum-4d88d</string>
	<key>STORAGE_BUCKET</key>
	<string>infinitum-4d88d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895700624438:ios:74986fbb26cdb63130a497</string>
</dict>
</plist>